<div class="container mt-4 text-center">
  <h4 class="wrong-msg">Oops! That's not correct.</h4>
  <p class="my-3">{{feedback}}</p>
  <button id="gotItBtn" class="btn btn-success">Got it</button>
</div>