<div class="container text-center mt-5">
  <h1>Welcome to the Quiz App!</h1>
  <input id="studentName" type="text" class="form-control my-3" placeholder="Enter your name">
  <select id="quizSelect" class="form-select my-3">
    <option value="">Select a Quiz</option>
    {{#each quizzes}}
      <option value="{{id}}">{{title}}</option>
    {{/each}}
  </select>
  <button id="startQuiz" class="btn btn-primary">Start Quiz</button>
</div>
